@charset "UTF-8";

@import url('themes.css');
@import url('layout.css');
@import url('components.css');
@import url('product-card.css');
@import url('form.css');

html {
	background-color: var(--colore-sfondo);
	background-image: linear-gradient(to right, 
		var(--colore-sfondo-gradiente), 
		var(--colore-sfondo) 20%, 
		var(--colore-sfondo) 80%, 
		var(--colore-sfondo-gradiente)
	);
	scroll-behavior: smooth; 
	transition: background-color 0.3s;
	
}

body {
	margin: 0;
	font-family: 'Helvetica', sans-serif;
	background-color: transparent; 
	color: var(--colore-testo);
	transition: color 0.3s;
	position: relative; 
	
}

main {
	padding: 20px 5%;
	max-width: 1600px; 
	margin: 0 auto; 
}

/* =======================================
   BOLLICINE 
   =======================================
*/

#bubble-canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none; 
	overflow: hidden; 
}

.bubble {
	position: absolute;
	border-radius: 50%;
	
	background-color: rgba(255, 255, 255, 0.8); 
	
	box-shadow: inset 0 0 10px rgba(255,255,255,1);
	
	bottom: -150px; 
	
	animation-name: rise-and-drift;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes rise-and-drift {
	0% {
		transform: translateX(0);
		opacity: 0.9;
	}
	80% {
		opacity: 0.7;
	}
	100% {
		bottom: 110vh; 
		transform: translateX(var(--horizontal-drift));
		opacity: 0;
	}
}

html[data-theme="dark"] #bubble-canvas {
	display: none;
}